<form>
    <input type="text" class="form-control" placeholder="expense amount"  name="expenseAmount" [(ngModel)]="expenseAmount">
    <div class="col">
        <select id="inputCategory" class="form-control" name="categorySelect" [(ngModel)]="categorySelect">
            <option selected>Select month</option>
            <option *ngFor="let category of categories">{{category.name}}</option>
        </select>
    </div>
    <input type="text" class="form-control" ngbDatepicker [(ngModel)]="date"/>
</form>>
